.slide-left-enter {
  opacity: 0;
  transform: translateX(-10%);
}
.slide-left-leave-to {
  opacity: 1;
  transform: translateX(-10%);
}
.slide-left-enter-active, .slide-left-leave-active {
  transition: all 300ms ease-in;
}

.slide-right-enter {
  opacity: 0;
  transform: translateX(10%);
}
.slide-right-leave-to {
  opacity: 1;
  transform: translateX(10%);
}
.slide-right-enter-active, .slide-right-leave-active {
  transition: all 300ms ease-in;
}

.res-fade-enter {
  opacity: 0;
  transform: translateX(-5%);
}
.res-fade-leave-to {
  opacity: 1;
  transform: translateX(5%);
}
.res-fade-enter-active, .res-fade-leave-active {
  transition: all 300ms ease-in;
}

#mash-create {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: crimson;
  margin-top: 60px;
}

h1, h2 {
  font-weight: normal;
}

.app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 30px;
}